@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

:root {
  --primary-red: #c72c2c ;
  --primary-red: #c72c2c ;
} 


@layer base {
  .btn {
    @apply bg-gradient-to-r from-[var(--primary-red)] to-[var(--primary-red)] md:py-3 px-2 md:px-7 rounded-3xl
  }
}
